<div class="row">
  <div class="col text-center">
    <img class="img-thumbnail rounded-circle" src="https://avatars.githubusercontent.com/u/67259922?v=4" width="300" />
    <h1 class="display-4">Iwan Plamboyan</h1>
    <div class="lead">Junior Web Developer | Fresh Graduate</div>
  </div>
</div>
